* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    /* margin-top: 0; */
    height: 100vh;
    align-items: center;
    background-color: whitesmoke;
    /* overflow: auto;*/
}

.container {
    width: 380px;
    display: flex;
    flex-direction: column;
    height: 75vh;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    border-radius: 5px solid;
    /* border-radius: 15px; */
    border: 2px solid;
    background-image: url(./Images/basit.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 380px 515px;
}
* {
    margin: 0;
    padding: 0;
}
 
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    /* margin-top: 0; */
    height: 100vh;
    align-items: center;
    background-color: whitesmoke;
    /* overflow: auto; */
}
 

#mainHeading {
    color: white;
    background-color: #201f1f;
    width: 360px;
    /* border-top-right-radius: 15px; */
    height: 6vh;
    /* font-family: arial; */
    padding: 10px;
    /* border-top-left-radius: 15px; */
    /* text-align: center; */
    font-family: math;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
    font-size: 13px;
    align-items: center;
    /* font-weight: normal;*/
}

h1 {}

#chatBox {
    overflow-y: auto;
    padding: 20px;
    flex: 1;
}

#chatList {
    list-style: none;
    /* padding: 0; */
    /* margin: 0;*/
}

#typing {}

#typeMsg {
    color: white;
    background-color: blue;
    font-size: larger;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 357px;
    height: 6vh;
    padding: 10px;
}

#typeMsgBox {
    border-top: 1px solid #ddd;
    display: flex;
}

.leftSide {
    width: 302px;
    text-align: left;
    color: white;

    border-radius: 7px;
    margin-top: 5px;

    padding: 10px;

    background-color: #373737;
    /* height: 5vh; */
    /* margin-left: 0px; */
}

.rightSide {
    width: 302px;
    text-align: right;
    color: white;
    background-color: #008d00;
    border-radius: 7px;
    margin-top: 5px;
    /* height: 5vh; */
    padding: 10px;
    /* margin-left: 0px;*/
}

img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* position: absolute; */
    /* top: 89px;
    left: 220px; */
}
